﻿@{
    /**/

    ViewBag.Title = "Index";
}


Raspolozive slike:
<form action="/Home/Search">
    <input list="types" name="type" />
    <datalist id="types">
        <option value=""></option>
        <option value="Name"></option>
        <option value="Technique"></option>
        <option value="Price"></option>
    </datalist>
    <input type="text" name="findItem" />
    <input type="submit" value="Search by criteria" />
</form>

<p>
    Format to search by Name: "PictureName"
</p>
<p>
    Format to search by Technique: "Technique"
</p>
<p>
    Format to search by Price: "LowEnd-HighEnd"
</p>
<table border="1">


    <tr bgcolor="lightgrey">


        <th>Naziv</th>


        <th>Ime autora</th>


        <th>Prezime autora</th>


        <th>Godina slikanja</th>


        <th>Tehnika</th>


        <th>Opis</th>


        <th>Cena</th>

        @if (Session["User"] != null)
        {
            <th>&nbsp;</th>
        }

    </tr>

    @foreach (Pr73_2016.Models.Picture p in ViewBag.pictures.Values)
    {
        <tr>
            @if (p.isDeleted || !p.isOnSale) { continue; }

            <td>@p.Name</td>
            <td>@p.Author.Name</td>
            <td>@p.Author.Lastname</td>
            <td>@p.YearPainted</td>
            <td>@p.Technique</td>
            <td>@p.Description</td>
            <td>@p.Price</td>
            @if (Session["User"] != null)
            {                
                <td>
                    <form method="post" action="~/ShoppingCart/Add">
                        <input type="hidden" name="Name" value="@p.Name">
                        <input type="submit" value="Dodaj u korpu">
                    </form>
                </td>
            }

        </tr>
    }
</table>

<form action="/Home/Sort">
    <input list="types" name="type" />
    <datalist id="types">
        <option value=""></option>
        <option value="Name"></option>
        <option value="Technique"></option>
        <option value="Price"></option>
    </datalist>
    <input list="ascendOrDescend" name="orderingBy" />
    <datalist id="ascendOrDescend">
        <option value="ascending"></option>
        <option value="descending"></option>
    </datalist>
    <input type="submit" value="Sort by criteria" />
</form>

@if (Session["User"] == null)
{
    <a href="~/Home/Register">Register</a><br />
    <a href="~/Home/Login/">Log in</a>
    } else if (Session["User"]!=null)
	{
		 <a href="~/Home/Logout">Log out</a>
	}

<!--Odavde na dole samo ako je registrovan!-->
@if (Session["User"] != null)
{
    <p>
        <a href="/ShoppingCart">Pregled sadrzaja korpe</a>
    </p>
    <table border="1">
        <tr bgcolor="lightgrey">
            <th>Ime Galerije</th>
            <th>Adresa</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (Pr73_2016.Models.Gallery g in ViewBag.galleries.Values)
        {
            <tr>
                <td>@g.Name</td>
                <td>@g.Address</td>
                <td>
                    <form method="post" action="~/Gallery/Index">
                        <input type="hidden" value="@g.Name" name="Name" />
                        <input type="submit" value="Otvori galeriju @g.Name" />
                    </form>
                </td>
            </tr>
        }
    </table>
 }

