﻿
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

<form method="post" action="~/Home/LogIn">
    <table border="1">
        <td>Username:</td>
        <td><input type="text" name="Username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="Password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Log In" />
            </td>
        </tr>
    </table>
</form>