﻿
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post" action="~/Home/Register">
    <table border="1">
        <tr>
            <td>Name:</td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" name="LastName" /></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="Username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="Password" /></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <select id="Gender" name="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Unspecified">Unspecified</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="Email" /></td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td><input type="date" name="DateOfBirth" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Register" />
            </td>
        </tr>
</form>