﻿
@{
    ViewBag.Title = "Index";
}
Galerija: @ViewBag.g.Name

<table border="1">
    <tr bgcolor="lightgrey">
        <th>Naziv</th>
        <th>Ime autora</th>
        <th>Prezime autora</th>
        <th>Godina slikanja</th>
        <th>Tehnika</th>
        <th>Opis</th>
        <th>Cena</th>
        <th>Na prodaju</th>
    </tr>

    @foreach (Pr73_2016.Models.Picture p in ViewBag.ps.Pics.Values)
    {
        <tr>
            @if (p.isDeleted || p.isSold) { continue; }
            @if (p.GalleryName != ViewBag.g.Name) { continue; }

            <td>@p.Name</td>
            <td>@p.Author.Name</td>
            <td>@p.Author.Lastname</td>
            <td>@p.YearPainted</td>
            <td>@p.Technique</td>
            <td>@p.Description</td>
            <td>@p.Price</td>
            <td>
                @if (p.isOnSale)
                {
                    <p>Na prodaju</p>
                }
                else
                {
                    <p>Nije na prodaju!</p>
                }
            </td>
        </tr>
    }
</table>

<a href="~/Home/Index">Back to Home</a>
