﻿
@{
    ViewBag.Title = "Index";
}

 Proizvodi u korpi:
<table border="1">
    <tr bgcolor="lightgrey"><th>Naziv</th><th>Cena</th></tr>
    @foreach (Pr73_2016.Models.Picture p in ViewBag.sc.SelectedPictures)
    {
        <tr>
            <td> @p.Name</td>
            <td> @p.Price</td>
        </tr>
    }

</table>
<p>Ukupna cena: @ViewBag.sc.TotalPrice</p>
<p>Dan kupovine : @ViewBag.sc.DateOfShopping</p>
<a href="~/Home/Index">Back to Home</a>
<form action="~/ShoppingCart/ShoppingHistory">
    <input type="submit" value="Buy" />
</form>

