﻿
@{
    ViewBag.Title = "ShoppingHistory";
}

<h2>Shopping History</h2>

<table border="1">
    <tr bgcolor="lightgrey">
        <th>Naziv</th>
        <th>Cena</th>
        <th>Date of Purchase</th>
        <th>Total Price</th>
    </tr>
    <a href="~/Home/Index">Back to Home</a>

    @foreach (Pr73_2016.Models.Picture p in ViewBag.purchaseHistory.SelectedPictures)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>@ViewBag.purchaseHistory.DateOfShopping</td>
            <td>@ViewBag.purchaseHistory.TotalPrice</td>
        </tr>
    }
</table>

